---
# defaults file for {{ role_name }}
{% for key, value in defaults_dict.items() %}{{ key }}: {% if value is iterable and value is not string %}{% for v in value %}
  - {{ v }}{% endfor %}{% else %}{{ value }}{% endif %}
{% endfor %}{% for role_var in role_vars %}{{ role_var }}: {% endfor %}

