## Ansible Role: {{ role_name }}
{{ desc }}

### Requirements
{{ reqs }}

### Role Variables
{{ variables }}

### Dependencies
{{ deps }}

### Example Playbook
{{ example_playbook }}

### License
{{ lic }}

### Author Information
{{ name }}: {{ author_bio }}
