## Ansible Role: {{ role_name }}
{{ desc }}
{% for i in tasks %}
{{ i }}
{% endfor %}
### Requirements
{% if reqs %}{{ reqs }}{% else %}N/A
{% endif %}

### Role Variables

| Variable    | Purpose                              | Default |
|-------------|--------------------------------------|---------|
{% for i in variables %}| {{ i }} | | |{% endfor %}

### Dependencies
{% if deps %}{{ deps }}{% else %}N/A
{% endif %}

### Example Playbook
{{ example_playbook }}

### License
{{ lic | upper }}

### Author Information
{{ name }}: {{ author_bio }}

